altair==5.5.0
bleach==6.2.0
branca==0.8.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
decorator==5.1.1
folium==0.18.0
geopandas==1.0.0
Jinja2==3.1.4
joblib==1.4.2
kaggle==1.6.17
matplotlib==3.9.2
numpy>=1.26.0
pandas==2.2.3
pyarrow==18.1.0
pydeck==0.9.1
pytz==2024.2
requests==2.32.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.13.2
shapely==2.0.6
SQLAlchemy==2.0.36
streamlit==1.25.0
tenacity==9.0.0
tqdm==4.67.1
